{% extends 'main.html' %}

{% block content %}
<h1>project template</h1> 
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quo cupiditate sint fugiat ipsam,</p>

<table>
    <tr>
        <th>Project</th>
        <th>Votes</th>
        <th>Positive Votes</th>
        <th></th>
        <th></th>
    </tr>
    {% for project in projects %}
    <tr>
        <td>{{ project.title }}</td>
        <td>{{ project.vote_total }}</td>
        <td>{{ project.vote_ratio }}%</td>
        <td>{{ project.created }}</td>
        <td><a href="{% url 'update-project' project.id %} ">Edit</a></td>
        <td><a href="{% url 'delete-project' project.id %} ">Delete</a></td>
        <td><a href="{% url 'project' project.id %} ">View</a></td>
    </tr>
    {% endfor %}
</table>


{% endblock content %}   